@font-face {
    font-family: "Meta Serif Pro";
    src: url("fonts/MetaSerifPro-Light.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Meta Serif Pro";
    src: url("fonts/MetaSerifPro-Book.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Meta Serif Pro";
    src: url("fonts/MetaSerifPro-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Neue Haas Unica Pro";
    src: url("fonts/NeueHaasUnicaPro-UltraLight.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Neue Haas Unica Pro";
    src: url("fonts/NeueHaasUnicaPro-Thin.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Neue Haas Unica Pro";
    src: url("fonts/NeueHaasUnicaPro-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Neue Haas Unica Pro";
    src: url("fonts/NeueHaasUnicaPro-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Neue Haas Unica Pro";
    src: url("fonts/NeueHaasUnicaPro-Black.ttf");
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

html,
body {
    position: fixed;
    font-family: "Neue Haas Unica Pro", sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #101C27;
    color: #fff;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    padding: 5vw 7vw;
    margin: 0;
}

article {
    margin: 0 0 60px 0;
    max-width: 600px;
}

h3 {
    margin: 0 0 18px 0;
    color: #636363;
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

p,
ul {
    font-size: 1.9rem;
    line-height: 1.8em;
    margin: 20px 0;
}

p.hero-text {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2em;
    margin: 10px 0;
    text-transform: capitalize;
}

ul {
    padding: 0;
    list-style: none;
}

ul.scholar {
    list-style: inherit;
    padding-left: 20px;
}

ul.scholar li {
    padding-bottom: 15px;
}

ul.social {
    padding-left: 20px;
    list-style: inherit;
}

a,
a:visited {
    transition: .2s;
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .4;
}

a {
    background: transparent;
}

span.time,
span.label {
    width: 40px;
    margin: 0 15px 0 0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 0;
}
.flag {
    display: inline-block;
    font-size: 2em;
}